<ion-modal-view>
    <ion-content>
        <ion-header-bar class="bar-stable">
            <button class="button button-icon button-clear ion-close" ng-click="closeMenu()"></button>
        </ion-header-bar>
        <div class="container">
            <ul class="list">
                <li class="item">
                    <a href="#/home" ng-click="closeMenu()" nav-direction="forward">Accueil</a>
                </li>
                <li class="item">
                    <a href="#/toto" ng-click="closeMenu()" nav-direction="forward">Fiche toto</a>
                </li>
                <li class="item">
                    <a href ng-click="openMap()" nav-direction="forward">La carte</a>
                </li>
                <li class="item">
                    <a href="#/carnets" ng-click="closeMenu()" nav-direction="forward">Mes carnets de voyage</a>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-modal-view>
