<ion-view class="tuto">
    <ion-content header-shrink scroll-event-interval="5">
      <div class="container">
        <div id="custom-slider">
          <div class="slide animated fade-in-up" ng-repeat="slide in slides" ng-show="currentIndex == $index" ng-class=" currentIndex == $index ? 'active' : '' ">
            <h1>SLIDE {{ $index }}</h1>
          </div>
          <ul class="paginator">
            <li ng-repeat="slide in slides">
              <a href ng-click="goToSlide($index)" ng-class=" currentIndex == $index ? 'active' : '' ">{{ $index }}</a>
            </li>
          </ul>
        </div>
      </div>
    </ion-content>
</ion-view>
